
/* font added from google
    to use in the project
    font-family: 'Gagalin', sans-serif;
*/
@font-face {
    font-family: 'Gagalin';
    src: url('/fonts/Gagalin-Regular.otf') format('woff2'),
         url('/fonts/Gagalin-Regular.otf') format('woff'),
         url('/fonts/Gagalin-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
  
body{
    background: linear-gradient(to right, rgb(221, 180, 46), rgb(255, 102, 13));
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

}


 #Top {
    font-size: x-large;
    flex: 0.1;
    font-family: 'Gagalin', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 2, 2);
    padding: 10px;

}
div h5{
    font-weight: 100;
    font-size: smaller;
}

div h1{
    font-weight: 100;
}


 #playground{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#window{
    width: 500px;
    height: 300px;
    margin: 50px;
    border-radius: 20px;
    background-color: rgba(240, 236, 236 ,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#footer{
    flex:0.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    /* background: linear-gradient(to right, rgb(243, 85, 151), rgb(45, 98, 177)); */
}