
/* font added from google
    to use in the project
    font-family: 'Gagalin', sans-serif;
*/
@font-face {
    font-family: 'Gagalin';
    src: url('/fonts/Gagalin-Regular.otf') format('woff2'),
         url('/fonts/Gagalin-Regular.otf') format('woff'),
         url('/fonts/Gagalin-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
  
body{
    background: linear-gradient(to right, rgb(221, 180, 46), rgb(255, 102, 13));
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

}


 #Top {
    margin: 25px;
    font-size: x-large;
    flex: 0.1;
    font-family: 'Gagalin', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(2, 2, 2);
    padding: 10px;

}
div h5{
    font-weight: 100;
    font-size: smaller;
}

div h1{
    font-weight: 100;
}


 #playground{
    flex: auto;
    width: 100%;
}
 #footer{
    flex:0.1;
    align-self: center;
    width: 100%;
}



